
#particles-js {
	background-color: #262626;
 	position: fixed;
 	top: 0;
 	bottom: 0;
 	right: 0;
 	left: 0;

 	

}

.container1 {
	padding: 20px;
	background-color: white;
	position: relative;
}

.container2 {
	padding: 20px;
	background-color: white;
	position: relative;
}